# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Node / Build artifacts (if extended)
node_modules/
dist/
build/
.cache/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor Configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel Project State
.vercel
